@use "./typography" as *;
@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Avenir";
  @include mobile {
    width: 100%;
  }
}

.header {
  background-color: $black-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    padding: 1rem;
  }

  &__logo {
    height: 2rem;
    width: 12rem;
    margin: 2rem 0 2rem 0;

    @include tablet {
      margin: 2rem 6rem 2rem 1.6rem;
      height: 4rem;
      width: 14rem;
    }

    @include desktop {
      margin: 2rem 6rem 2rem 12rem;
    }
  }

  &__nav {
    width: 100%;
  }

  .nav__list {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;

    @include tablet {
      justify-content: flex-start;
      font-size: 2rem;
    }
    .nav__link {
      color: $mercury-color;
      width: 100%;
      font-size: 1.4rem;
      padding-bottom: 1rem;
      text-decoration: none;
      list-style-type: none;

      @include tablet {
        margin-right: 8rem;
        font-size: 2.4rem;
        width: 6rem;
        padding-bottom: 0;
      }
    }
    .nav__link--bio:hover,
    .nav__link--shows:hover {
      font-weight: 600;
      border-bottom: 0.5rem solid white;

      @include tablet {
        text-decoration-line: underline;
        text-underline-offset: 4rem;
        text-decoration-thickness: 1rem;
        border-bottom: 0;
      }
    }
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60vw;

  &__title {
    color: $white-color;
    position: relative;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;

    @include tablet {
      font-size: 6rem;
    }

    @include desktop {
      margin-left: 12rem;
    }
  }
}

.footer {
  background-color: $black-color;
  color: $white-color;
  padding: 1.6rem;
  margin-top: 4rem;

  @include desktop {
    padding: 0 9rem 2rem 9rem;
  }

  &__container {
    @include tablet {
      margin: 0 2rem;
    }
  }

  &__container-icons {
    @include tablet {
      display: flex;
      align-items: baseline;
    }
  }

  &__subtitle {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 3.6rem;
      margin-right: 4rem;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 2rem;

    @include tablet {
      width: 0;
      align-items: baseline;
    }
  }

  &__icons {
    width: 3rem;

    @include tablet {
      margin-right: 3rem;
    }
    @include desktop {
      margin: 0 1rem 0 2rem;
    }
  }

  &--facebook {
    width: 1.5rem;
  }

  &--twitter {
    width: 3.5rem;
  }

  &__details {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      align-items: baseline;
      line-height: 2rem;
    }

    @include desktop {
      justify-content: flex-start;
    }
  }

  &__contact {
    @include desktop {
      margin-right: 8rem;
    }
  }

  &__names {
    font-weight: 600;
    margin: 0;
  }

  &__company {
    font-weight: 600;
    margin-top: 0;

    @include tablet {
      margin-bottom: 2rem;
    }
  }

  &__address {
    width: 17rem;

    @include tablet {
      margin-bottom: 2rem;
    }
  }

  &__logo {
    width: 12rem;
    margin-top: 4rem;
  }

  &__logo--top {
    display: none;

    @include tablet {
      display: block;
      margin-left: 16rem;
    }

    @include desktop {
      margin-left: 51rem;
    }
  }

  &__logo--bottom {
    @include tablet {
      display: none;
    }
  }

  &__copyright {
    font-size: 1.3rem;
    font-weight: 400;

    @include tablet {
      margin-top: 4rem;
      font-size: 1.4rem;
    }
  }
}
