@use './variables' as *;

@mixin mobile {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}


@mixin bg-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
}