@use './mixins' as *;
@use './typography' as *;
@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Avenir';
  @include mobile {
    width: 100%;
  }

  
  
 
  
}