@font-face {
    font-family: "AvenirNext";
        src: url(../../assets/font/otf/AvenirNextLTPro-Regular.otf) format("otf"),
        url(../../assets/Font/ttf/AvenirNextLTPro.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:"AvenirNext"; 
    src: url(../../assets/Font/otf/AvenirNextLTPro-Demi.otf) format("otf"),
    url(../../assets/Font/ttf/AvenirNextLTProDemi.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "AvenirNext";
    src: url(../../assets/Font/otf/AvenirNextLTPro-Bold.otf) format("otf"),
    url(../../assets/Font/ttf/AvenirNextLTProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}