$xs-breakpoint: 767px;
$s-breakpoint: 768px;
$m-breakpoint: 1280px;

$black-color: #323232;
$darkblack-color: #000000;
$white-color: #ffffff;
$silver-color: #afafaf;
$mercury-color: #e1e1e1;
$alabaster-color: #fafafa;
