$mobile-breakpoint: 767px;
$tablet-breakpoint:768px;
$desktop-breakpoint:1280px;

$black-color:#323232;
$darkblack-color:#000000;
$white-color:#FFFFFF;
$silver-color:#AFAFAF;
$mercury-color:#E1E1E1;
$alabaster-color:#FAFAFA;