@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "../styles/partials/global" as *;

.hero {
  &::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/Images/hero-bio.jpg);

    @include hero-img;
    @include bg-img;
  }
  &__container {
    margin-left: 1.6rem;
  }
}

.article {
  display: flex;
  flex-direction: column;
  @include tablet {
    margin: 0;
  }

  &__title {
    margin: 4rem 0 2rem 1.7rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: $black-color;

    @include tablet {
      margin-bottom: 2rem;
      font-size: 3.6rem;
    }

    @include desktop {
      margin: 5rem 0 3rem 13rem;
    }
  }

  &__section-container {
    margin: 0 1.6rem;

    @include tablet {
      margin: 0 8rem;
    }

    @include desktop {
      margin: 0 21rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__quote {
    color: $black-color;
    font-size: 1.6rem;
    font-weight: 700;

    @include tablet {
      font-size: 2.4rem;
      line-height: 3.2rem;

      &-author {
        font-weight: 600;
        font-size: 1.7rem;
      }
    }

    @include desktop {
      padding: 0;
    }
  }

  &__subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 3rem;
    color: $darkblack-color;

    @include tablet {
      font-size: 2.4rem;
      margin-bottom: 0;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      padding-bottom: 4rem;
    }
  }

  &__details {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;

    @include tablet {
      font-size: 1.4rem;
      line-height: 2.2rem;
      padding-right: 4rem;
    }

    @include desktop {
      line-height: 2rem;
    }

    &--right {
      padding: 0;
      padding-right: 1.5rem;
    }
  }
}

.gallery {
  background-color: $alabaster-color;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;

  @include desktop {
    padding: 2rem 8rem;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    color: $black-color;
    @include tablet {
      font-size: 3.6rem;
      padding-left: 1.3rem;
    }

    @include desktop {
      padding-left: 4rem;
    }
  }

  &__images {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .gallery__list:hover {
    filter: grayscale(0);
  }

  &__list {
    width: 100%;
    margin-top: 1.6rem;
    filter: grayscale(1);

    &__list:hover {
      filter: grayscale(0);
    }

    @include tablet {
      width: 30%;
      margin: 1rem;
    }
  }
}

.comment {
  margin-bottom: 2rem;
  @include tablet {
    margin-bottom: 4rem;
  }

  @include desktop {
    margin: 0 21rem;
    margin-bottom: 4rem;
  }
  &__title {
    margin-left: 1.6rem;
    font-weight: 600;
    color: $black-color;

    @include tablet {
      font-size: 3.6rem;
    }
  }
  &__form {
    border-bottom: 0.2rem solid $mercury-color;
    margin: 1.6rem;
    display: flex;

    @include tablet {
      margin: 0 8rem;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    flex-grow: 1;
  }
  img {
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    margin: 2rem;
    margin-top: 4rem;

    @include tablet {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  label {
    color: $silver-color;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  [type="text"] {
    margin-bottom: 2rem;
    padding: 2rem;
    border: solid $mercury-color;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Avenir";
    background-color: $alabaster-color;
  }

  textarea {
    padding: 2rem;
    font-family: "Avenir";
    margin-bottom: 2rem;
    border: solid $mercury-color;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    background-color: $alabaster-color;
  }

  [type="submit"] {
    color: white;
    background-color: $black-color;
    border-style: initial;
    border-radius: 0.5rem;
    padding: 2rem;

    @include tablet {
      margin-left: 34rem;
    }
    @include desktop {
      margin-left: 40rem;
    }
  }

  &-container {
    margin: 1.6rem;
    border-bottom: 0.2rem solid $mercury-color;
    display: flex;

    @include tablet {
      margin: 0 8rem;
    }
  }

  &__placeholder {
    background-color: $mercury-color;
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0 2rem;

    @include tablet {
      margin: 1rem 2rem;
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  &__timestamp {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-weight: 600;
    font-size: 1.4rem;
    width: 56rem;
    margin: auto;

    @include tablet {
      width: 43rem;
      margin: 1rem 0;
    }

    @include desktop {
      width: 52rem;
    }
  }

  &__para {
    font-weight: 400;

    @include tablet {
      font-size: 1.4rem;
    }
  }

  &__date {
    color: $silver-color;
    margin: 0;
  }
}
