
@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;

.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 46vh;

  @include tablet {
    min-height: 51vh;
  }

  @include desktop {
    min-height: 70vh;
  }

  &::before {
    content: " ";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/Images/hero-bio.jpg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.9;

    @include bg-img;
  }
  &__container {
    margin-left: 1.6rem;
  }

  &__title {
    color: $white-color;
    position: relative;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;

    @include tablet {
      font-size: 6rem;
    }

    @include desktop {
      margin-left: 12rem;
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
  @include tablet {
    margin: 0;
  }

  &__title {
    margin: 4rem 0 2rem 1.7rem;
    font-size: 2.4rem;

    @include tablet {
      margin-bottom: 2rem;
      font-size: 3.6rem;
    }

    @include desktop {
      margin: 5rem 0 3rem 13rem;
    }
  }

  &__section-container {
    margin: 0 1.6rem;

    @include tablet {
      margin: 0 8rem;
    }

    @include desktop {
      margin: 0 21rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__quote {
    color: $black-color;
    font-size: 1.6rem;
    font-weight: 700;

    @include tablet {
      font-size: 2.4rem;
      line-height: 3.2rem;

      &-author {
        font-weight: 600;
        font-size: 1.7rem;
      }
    }

    @include desktop {
      padding: 0;
    }
  }

  &__subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 3rem;
    color: $darkblack-color;

    @include tablet {
      font-size: 2.4rem;
      margin-bottom: 0;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      padding-bottom: 4rem;
    }
  }

  &__details {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;

    @include tablet {
      font-size: 1.4rem;
      line-height: 2.2rem;
      padding-right: 4rem;
    }

    @include desktop {
      line-height: 2rem;
    }

    &--right {
      padding: 0;
      padding-right: 1.5rem;
    }
  }
}

.gallery {
  background-color: $alabaster-color;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;

  @include desktop {
    padding: 2rem 8rem;
  }

  &__title {
    margin: 0;

    @include tablet {
      font-size: 3.6rem;
      padding-left: 1.3rem;
    }

    @include desktop {
      padding-left: 4rem;
    }
  }

  &__images {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .gallery__list:hover {
    filter: grayscale(0);
  }

  &__list {
    width: 100%;
    margin-top: 1.6rem;
    filter: grayscale(1);

    &__list:hover {
      filter: grayscale(0);
    }

    @include tablet {
      width: 30%;
      margin: 1rem;
    }
  }
}

