@use './partials/resets' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.header {
    background-color: $black-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    

    &__logo {
        height: 2rem;
        width: 12rem;
        margin-top: 1.6rem;

    }
    
    &__nav{
        width: 100%;
    
    }

    .header__link {
        text-decoration: none;
        color: $white-color;
    }

    &__title {
        text-align: center;
        margin: 0;
    }

    .nav__list {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 0;
        font-size: 1.4rem;
        padding: 0;
    }

    .nav__link {
        text-decoration: none;
        color: $white-color;
        list-style-type: none;
        margin: 1rem;
        font-weight: 600;
    }

    &__item {
        margin: 0;
    }



}

.hero {
    background-image: url(../assets/Images/hero-bio.jpg);
    @include bg-img;


    &__title {
        color: $white-color;
        justify-content: center;
        margin-left: 1.6rem;
    }
}
.article{
    display: flex;
    flex-direction: column;
    margin: 1.6rem;

     
    &__img{
        width: 100%;
        
        
     }
     &__quote{
        color: $black-color;
        font-size: 1.4rem;
        font-weight: 600;
        width: 100%;
        // line-height: 2.2rem;
        
     }
     &__subtitle{
        font-size: 1.4rem;
        font-weight: 600; 
        color: $darkblack-color;
     }

     &__details{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.8rem;
     }
}