@use "./partials/resets" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.header {
  background-color: $black-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    padding: 1rem;
  }

  &__logo {
    height: 2rem;
    width: 12rem;
    margin: 3rem 0 2rem 0;

    @include tablet {
      margin: 2rem 6rem;
      height: 4rem;
      width: 14rem;
    }

    @include desktop {
      margin: 2rem 6rem 2rem 12rem;
    }
  }

  &__nav {
    width: 100%;
  }

  &__title {
    text-align: center;
    margin: 0;
  }
  .nav__list {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;

    @include tablet {
      justify-content: flex-start;
      font-size: 2rem;
    }
    .nav__link {
      color: $mercury-color;
      width: 100%;
      font-size: 1.4rem;
      padding-bottom: 1rem;
      text-decoration: none;
      list-style-type: none;

      @include tablet {
        margin-right: 8rem;
        font-size: 2.4rem;
        width: 6rem;
        padding-bottom: 0;
      }
    }
    .nav__link--bio:hover,
    .nav__link--shows:hover {
      font-weight: 600;
      border-bottom: 0.5rem solid white;

      @include tablet {
        text-decoration-line: underline;
        text-underline-offset: 4rem;
        text-decoration-thickness: 1rem;
        border-bottom: 0;
      }
    }
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 40vh;

  @include tablet {
    min-height: 37vh;
  }

  @include desktop {
    min-height: 125vh;
  }

  &::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/Images/hero-bio.jpg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.9;

    @include bg-img;
  }
  &__container {
    margin-left: 1.6rem;
  }

  &__title {
    color: $white-color;
    position: relative;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;

    @include tablet {
      font-size: 6rem;
    }

    @include desktop {
      margin-left: 12rem;
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
  @include tablet {
    margin: 0;
  }

  &__title {
    margin: 4rem 0 2rem 1.7rem;
    font-size: 2.4rem;

    @include tablet {
      margin-bottom: 2rem;
      font-size: 3.6rem;
    }

    @include desktop {
      margin: 5rem 0 3rem 13rem;
    }
  }

  &__section-container {
    margin: 0 1.6rem;

    @include tablet {
      margin: 0 6rem;
    }

    @include desktop {
      margin: 0 21rem;
    }
  }

  &__img {
    width: 100%;
    height: auto;

    @include desktop {
    }

    @include tablet {
      width: 100%;
    }
  }

  &__quote {
    color: $black-color;
    font-size: 1.6rem;
    font-weight: 700;
    width: 100%;

    @include tablet {
      font-size: 2.4rem;
      line-height: 3.2rem;

      &-author {
        font-weight: 600;
        font-size: 1.7rem;
      }
    }

    @include desktop {
      padding: 0;
    }
  }

  &__subtitle-container {
    width: 100%;
  }

  &__subtitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 3rem;
    color: $darkblack-color;

    @include tablet {
      font-size: 2.4rem;
      margin-bottom: 0;
    }
  }

  &__container {
    @include tablet {
      display: flex;
      padding-bottom: 4rem;
      width: 100%;
    }
  }

  &__details {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;

    @include tablet {
      font-size: 1.4rem;
      line-height: 2.2rem;
      padding-right: 4rem;
    }

    @include desktop {
      line-height: 2rem;
    }

    &--right {
      padding: 0;
    }
  }
}

.gallery {
  background-color: $alabaster-color;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;

  @include desktop {
    padding: 2rem 8rem;
  }

  &__title {
    margin: 0;

    @include tablet {
      font-size: 3.6rem;
      padding-left: 1.3rem;
    }

    @include desktop {
      padding-left: 4rem;
    }
  }

  &__images {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .gallery__list:hover {
    filter: grayscale(0);
  }

  &__list {
    width: 100%;
    margin-top: 1.6rem;
    filter: grayscale(1);

    &__list:hover {
      filter: grayscale(0);
    }

    @include tablet {
      width: 30%;
      margin: 1rem;
    }
  }
}

.footer {
  background-color: $black-color;
  color: $white-color;
  padding: 1.6rem;

  @include desktop {
    padding: 0 9rem 2rem 9rem;
  }

  &__container {
    @include tablet {
      margin: 0 2rem;
    }
  }

  &__container-icons {
    @include tablet {
      display: flex;
      align-items: baseline;
    }
  }

  &__subtitle {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 3.6rem;
      margin-right: 4rem;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 2rem;

    @include tablet {
      width: 0;
      align-items: baseline;
    }
  }

  &__icons {
    width: 3rem;

    @include tablet {
      margin-right: 3rem;
    }
    @include desktop {
      margin: 0 1rem 0 2rem;
    }
  }

  &--facebook {
    width: 1.5rem;
  }

  &--twitter {
    width: 3.5rem;
  }

  &__details {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      align-items: baseline;
      line-height: 2rem;
    }

    @include desktop {
      justify-content: flex-start;
    }
  }

  &__contact {
    @include desktop {
      margin-right: 8rem;
    }
  }

  &__names {
    font-weight: 600;
    margin: 0;
  }

  &__company {
    font-weight: 600;
    margin-top: 0;

    @include tablet {
      margin-bottom: 2rem;
    }
  }

  &__address {
    width: 17rem;

    @include tablet {
      margin-bottom: 2rem;
    }
  }

  &__logo {
    width: 12rem;
    margin-top: 4rem;
  }

  &__logo--top {
    display: none;

    @include tablet {
      display: block;
      margin-left: 16rem;
    }

    @include desktop {
      margin-left: 51rem;
    }
  }

  &__logo--bottom {
    @include tablet {
      display: none;
    }
  }

  &__copyright {
    font-size: 1.3rem;
    font-weight: 400;

    @include tablet {
      margin-top: 4rem;
      font-size: 1.4rem;
    }
  }
}
