@use './partials/resets' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.header {
    background-color: $black-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    


    @include tablet {
        flex-direction: row;
        padding: 0;
    }


    &__logo {
        height: 2rem;
        width: 12rem;
        margin: 3rem 0 2rem 0;

        @include tablet {
            margin: 2rem 3rem 2rem 3rem;
            height: 4rem;
            width: 14rem;
        }

    }

    &__nav {
        width: 100%;

    }

    &__title {
        text-align: center;
        margin: 0;
    }

    .nav__list {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 0;
        font-size: 1.4rem;
        padding: 0;
        

        @include tablet {
            justify-content: flex-start;
            font-size: 2rem;
        }

     }
    
     .nav__link {
        text-decoration: none;
        color: $white-color;
        list-style-type: none;
        margin: 0;
        font-weight: 400;
        width: 100%;
        text-align: center;
        font-size: 1.4rem;

        @include tablet {
            margin: 2rem;

        } 
    }

    .nav__items{
        &--bio{
            border-bottom: 0.5rem solid white;
            padding-bottom: 1rem;
        }
    }




}






.hero {
    background-image: url(../assets/Images/hero-bio.jpg);
    min-height: 36vh;
    font-size: 2.4rem;
    font-weight: 700;
    align-items: center;
    display: flex;
    opacity: 80%;


    @include bg-img;

    @include tablet {
        min-height: 50vh;

    }


    &__title {
        color: $alabaster-color;
        justify-content: center;
        margin-left: 1.6rem;
        opacity: initial;

        @include tablet {
            font-size: 6rem;

        }
    }
}

.article {
    display: flex;
    flex-direction: column;
    margin: 1.6rem;

    @include tablet {
        margin: 0 6rem 0 6rem;
        align-items: center;


        &__title-container {
            width: 100%;
            margin-top: 4rem;

        }
    }

    @include tablet {
        &__title {
            font-size: 3.6rem;

        }
    }



    &__img {
        width: 100%;

        @include tablet {
            width: 90%;
            height: 40vh;
        }

    }

    &__quote {
        color: $black-color;
        font-size: 1.6rem;
        font-weight: 700;
        width: 100%;

        @include tablet {
            font-size: 2.4rem;
            line-height: 3.2rem;
            padding: 0 3rem;

            &-author {
                font-weight: 600;
                font-size: 1.7rem;
                padding-top: 1.5rem;
            }
        }

    }

    &__subtitle-container {
        width: 100%;
    }

    &__subtitle {
        font-size: 1.6rem;
        font-weight: 600;
        color: $darkblack-color;

        @include tablet {
            font-size: 2.4rem;
            margin-bottom: 0;
            padding-left: 3rem;
        }
    }

    &__container {
        @include tablet {
            display: flex;
            padding-bottom: 4rem;
            width: 100%;

        }
    }

    &__details {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.8rem;

        @include tablet {
            font-size: 1.4rem;
            line-height: 2.2rem;
            padding-right: 3rem;
            padding-left: 3rem;


        }
    }
}

.gallery {
    background-color: $alabaster-color;
    display: flex;
    flex-direction: column;
    padding: 1.6rem;

    &__title {
        padding: 1rem 1.6rem;

        margin: 0;
    }

    &__images{
        
        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

        }
    }

    .gallery__list:hover{
        filter: grayscale(0);
    }

    &__list {
        width: 100%;
        margin-top: 1.6rem;
        filter: grayscale(1);
        
        &__list:hover{
            filter: grayscale(0);
        }
       
        @include tablet {
            width: 30%;
            margin: 1rem;
        }


    }
}

.footer {
    background-color: $black-color;
    color: $white-color;
    padding: 1.6rem;

    &__container {
        @include tablet {
            margin: 0 2rem;

        }
    }

    &__container-icons {
        @include tablet {
            display: flex;
            align-items: baseline;

        }
    }

    &__subtitle {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 2rem;

        @include tablet {
            font-size: 3.6rem;
            margin-right: 4rem;
        }
    }

    &__logo--top {
        display: none;

        @include tablet {
            display: block;
            margin-left: 6rem;

        }

    }

    &__socials {
        display: flex;
        justify-content: space-between;
        width: 20%;
        margin-bottom: 2rem;

        @include tablet {
            width: 0;
            align-items: baseline;


        }
    }


    &__icons {
        width: 3rem;

        @include tablet {
            margin-right: 5rem;

        }
    }


    &--facebook {
        width: 1.5rem;
    }

    &--twitter {
        width: 3.5rem;
    }

    &__details {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.8rem;

        @include tablet {
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            align-items: baseline;


        }
    }

    &__names {
        font-weight: 600;
        margin: 0;


    }

    &__company {
        font-weight: 600;
        margin-top: 0;

        @include tablet {
            margin-bottom: 2rem;
        }


    }

    &__address {
        width: 17rem;

        @include tablet {
            margin-bottom: 2rem;
        }
    }

    &__logo {
        width: 12rem;
        margin-top: 4rem;

    }

    &__logo--bottom {
        @include tablet {
            display: none;
        }
    }

    &__copyright {
        font-size: 1.3rem;
        font-weight: 400;
    }

}