@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

.hero {
  &::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/images/hero-shows.jpg);
    @include hero-img;
  }
  &__container {
    margin-left: 1.6rem;
    display: flex;
    flex-direction: column;
  }

  &__text {
    color: $white-color;
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
  }

  &__title{
    padding: 2rem 0;
    width: 34%;
  }

  &__music {
    position: relative;
    display: flex;
    flex-direction: column;
    iframe {
      width: 95.5vw;
      height: 17rem;
      border-radius: 0.5rem;
    }
  }
}
