@font-face {
  font-family: "Avenir";
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/font/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/font/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/font/AvenirNextLTProDemi.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/font/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Avenir";
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 1rem;
  }
}
.header__logo {
  height: 2rem;
  width: 12rem;
  margin: 2rem 0 2rem 0;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 2rem 6rem 2rem 1.6rem;
    height: 4rem;
    width: 14rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    margin: 2rem 6rem 2rem 12rem;
  }
}
.header__nav {
  width: 100%;
}
.header .nav__list {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .header .nav__list {
    justify-content: flex-start;
    font-size: 2rem;
  }
}
.header .nav__list .nav__link {
  color: #e1e1e1;
  width: 100%;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  text-decoration: none;
  list-style-type: none;
}
@media (min-width: 768px) {
  .header .nav__list .nav__link {
    margin-right: 8rem;
    font-size: 2.4rem;
    width: 6rem;
    padding-bottom: 0;
  }
}
.header .nav__list .nav__link--bio:hover,
.header .nav__list .nav__link--shows:hover {
  font-weight: 600;
  border-bottom: 0.5rem solid white;
}
@media (min-width: 768px) {
  .header .nav__list .nav__link--bio:hover,
.header .nav__list .nav__link--shows:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    text-underline-offset: 4rem;
    text-decoration-thickness: 1rem;
    border-bottom: 0;
  }
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60vw;
}
.hero__title {
  color: #ffffff;
  position: relative;
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 6rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin-left: 12rem;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1.6rem;
  margin-top: 4rem;
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 9rem 2rem 9rem;
  }
}
@media (min-width: 768px) {
  .footer__container {
    margin: 0 2rem;
  }
}
@media (min-width: 768px) {
  .footer__container-icons {
    display: flex;
    align-items: baseline;
  }
}
.footer__subtitle {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__subtitle {
    font-size: 3.6rem;
    margin-right: 4rem;
  }
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__socials {
    width: 0;
    align-items: baseline;
  }
}
.footer__icons {
  width: 3rem;
}
@media (min-width: 768px) {
  .footer__icons {
    margin-right: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__icons {
    margin: 0 1rem 0 2rem;
  }
}
.footer--facebook {
  width: 1.5rem;
}
.footer--twitter {
  width: 3.5rem;
}
.footer__details {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8rem;
}
@media (min-width: 768px) {
  .footer__details {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    align-items: baseline;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__details {
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    margin-right: 8rem;
  }
}
.footer__names {
  font-weight: 600;
  margin: 0;
}
.footer__company {
  font-weight: 600;
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer__company {
    margin-bottom: 2rem;
  }
}
.footer__address {
  width: 17rem;
}
@media (min-width: 768px) {
  .footer__address {
    margin-bottom: 2rem;
  }
}
.footer__logo {
  width: 12rem;
  margin-top: 4rem;
}
.footer__logo--top {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--top {
    display: block;
    margin-left: 16rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo--top {
    margin-left: 51rem;
  }
}
@media (min-width: 768px) {
  .footer__logo--bottom {
    display: none;
  }
}
.footer__copyright {
  font-size: 1.3rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-top: 4rem;
    font-size: 1.4rem;
  }
}

.hero::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/hero-shows.jpg);
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.9;
  background-size: cover;
  background-position: center;
}
.hero__container {
  margin: 0 1.6rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .hero__container {
    flex-direction: row;
    align-items: center;
    margin: 0 12rem;
  }
}
.hero__text {
  color: #ffffff;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 2.4rem;
  }
}
.hero__title {
  padding: 2rem 0;
  width: 21rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .hero__title {
    width: 53rem;
    padding-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin: 0;
  }
}
.hero__music {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 96vw;
  height: 20rem;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .hero__music {
    width: 55vw;
    height: 14rem;
  }
}
@media (min-width: 1280px) {
  .hero__music {
    width: 37vw;
    margin-left: 4rem;
  }
}

.ticket {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .ticket {
    margin: 0;
    margin-bottom: 4rem;
  }
}
.ticket-container {
  padding: 1.6rem;
  border-bottom: 0.2rem solid #e1e1e1;
}
.ticket-container > * {
  flex: 1;
}
@media (min-width: 768px) {
  .ticket-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.ticket-container:hover {
  background: #fafafa;
}
@media (min-width: 1280px) {
  .ticket-container {
    margin-left: 28rem;
    margin-right: 10rem;
  }
}
.ticket__title {
  font-size: 2.4rem;
  margin-left: 1.6rem;
  font-weight: 600;
}
@media (min-width: 1280px) {
  .ticket__title {
    margin-left: 13rem;
    font-size: 3.6rem;
  }
}
.ticket__subtitle {
  color: #afafaf;
  margin: 2rem 0;
  font-weight: 400;
}
@media (min-width: 768px) {
  .ticket__subtitle {
    flex-direction: row;
    display: none;
  }
}
.ticket__subtitle--tablet {
  display: none;
}
@media (min-width: 768px) {
  .ticket__subtitle--tablet {
    display: block;
    display: flex;
    width: 74%;
    padding-left: 1.6rem;
    margin-top: 0;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .ticket__subtitle--tablet {
    margin-left: 27.5rem;
    width: 58%;
  }
}
.ticket__title-date {
  font-weight: 400;
}
.ticket__title-venue {
  font-weight: 400;
}
.ticket__title-location {
  font-weight: 400;
}
.ticket__date {
  font-weight: 600;
  color: #323232;
}
@media (min-width: 768px) {
  .ticket__date {
    margin: 0;
  }
}
.ticket__description {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .ticket__description {
    margin: 0;
  }
}
.ticket__btn {
  width: 100%;
  padding: 2rem;
  background-color: #323232;
  color: white;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border-style: initial;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .ticket__btn {
    width: 25%;
    margin-bottom: 0;
    padding: 1rem 2rem;
  }
}/*# sourceMappingURL=shows.css.map */