@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

.hero {
  &::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/images/hero-shows.jpg);
    @include hero-img;
  }
  &__container {
    margin: 0 1.6rem;
    display: flex;
    flex-direction: column;


    @include desktop{
      flex-direction: row;
      align-items: center;
      margin: 0 12rem;
    }
  }


  &__text {
    color: $white-color;
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;

    @include tablet {
      font-size: 2.4rem;
    }

  
  }

  &__title {
    padding: 2rem 0;
    width: 21rem;
    font-weight: 600;
    @include tablet {
      width: 53rem;
      padding-top: 1rem;
    }
  }

  &__music {
    position: relative;
    display: flex;
    flex-direction: column;    
    width: 96vw;
    height: 20rem;
    border-radius: 0.5rem;
    
    @include tablet {
      width: 55vw;
      height: 14rem;
    }
    
    @include desktop{
      width: 37vw;
      // justify-content: flex-end;
      }

      
    }
  }


.ticket {
  display: flex;
  flex-direction: column;
  @include tablet {
    margin: 0;
    margin-bottom: 4rem;
  }

  &-container {
    padding: 1.6rem;
    border-bottom: 0.2rem solid $mercury-color;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &:hover {
      background: $alabaster-color;
    }

    &:active{
      background: $silver-color;
    }
  }

  &__title {
    font-size: 2.4rem;
    margin-left: 1.6rem;
  }

  &__subtitle {
    color: $silver-color;
    margin: 2rem 0;
    font-weight: 400;
    @include tablet {
      flex-direction: row;
      display: none;
    }
  }

  &__subtitle--tablet{
display: block;
  }
  &__date {
    font-weight: 700;

    @include tablet {
      margin: 0;
    }
  }
  &__description {
    margin-top: 0.5rem;
    @include tablet {
      margin: 0;
    }
  }

  &__btn {
    width: 100%;
    padding: 2rem;
    background-color: $black-color;
    color: white;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    border-style: initial;
    font-size: 1.6rem;

    @include tablet {
      width: 25%;
      margin-bottom: 0;
      padding: 1rem 2rem;
    }
  }
}
