@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/variables" as *;

.hero {
  &::before {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/images/hero-shows.jpg);
    @include hero-img;
  }
  &__container {
    margin-left: 1.6rem;
    display: flex;
    flex-direction: column;
  }

  &__text {
    color: $white-color;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
  }

  &__title {
    padding: 2rem 0;
  }

  &__music {
    position: relative;
    display: flex;
    flex-direction: column;
    iframe {
      width: 96vw;
      height: 17rem;
      border-radius: 0.5rem;
    }
  }
}

.ticket {
  display: flex;
  flex-direction: column;

  &-container {
    margin: 0 1.6rem;
    border-bottom: 0.2rem solid $mercury-color;
   
  }

  &__title{
    font-size: 3.6rem;
    margin-left: 1.6rem;
  }

  &__subtitle {
    color: $silver-color;
    margin: 0;
  }

  &__description{
    margin-top: 0.5rem;
  }

  &__btn{
    width: 100%;
    padding: 2rem;
    background-color: $black-color;
    color: white;
    margin-bottom: 2rem;
    border-radius: 1rem;
    text-transform: uppercase;
    border-style: initial;
    font-size: 2.4rem;
  }
}
